<%= render 'layouts/header'%>

<h1 class="club-name">Members Only Club</h1>

<div id="info">
  <p>This is the super secret exclusively select Members Only Club.</p>
  <p>Here our members have the exclusive privilege of posting to other members of the club.</p>
  <p>Anyone can see member posts, but only members will see who wrote each post.</p>
  <p>Want to join? <span class="too-bad">TOO BAD!</span> We are not accepting any new members.</p>
</div>